<div fxLayout="row" fxLayoutAlign="center" class="container">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #clientsFrm="ngForm" (ngSubmit)="save()">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="card-title">Personal Data</mat-card-title>
        </mat-card-header>

        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="500px">
              <mat-form-field class="full-width">
                <mat-label>Nome: </mat-label>
                <input
                  type="text"
                  [(ngModel)]="client.name"
                  name="name"
                  placeholder="Insert your name"
                  matInput required
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="12px">
            <div fxLayout="column" fxFlex="350px">
              <mat-form-field class="full-width">
                <mat-label>CPF: </mat-label>
                <input
                  type="text"
                  [(ngModel)]="client.cpf"
                  name="cpf"
                  mask="000.000.000-00"
                  placeholder="_ _ _ . _ _ _ . _ _ _ . _ _"
                  matInput
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="12px">
            <div fxLayout="column" fxFlex="500px">
              <mat-form-field class="full-width">
                <mat-label>Email: </mat-label>
                <input
                  type="text"
                  [(ngModel)]="client.email"
                  name="email"
                  placeholder="ex: client@example.com"
                  matInput
                  required
                />
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="12px">
            <div fxLayout="column" fxFlex="350px">
              <mat-form-field class="full-width">
                <mat-label>Birth Date: </mat-label>
                <input
                  type="text"
                  [(ngModel)]="client.birthDate"
                  name="birthDate"
                  mask="00/00/0000"
                  matInput
                  required
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>

        <mat-card-actions>
          @if (!updating) {
            <button type="submit" mat-button color="accent" class="ml-5">
              <mat-icon fontIcon="save"></mat-icon>
              Save
            </button>
          } @else {
            <button type="submit" mat-button color="accent" class="ml-5">
              <mat-icon fontIcon="refresh"></mat-icon>
              Update
            </button>
          }

          <button type="button" mat-button color="accent" class="ml-5">
            <mat-icon fontIcon="delete"></mat-icon>
            Clear
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
