<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form class="mt-60" #searchForm="ngForm" (ngSubmit)="search()">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title class="card-title"> Search for </mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row">
            <div fxLayout="column" fxFlex="950px">
              <mat-form-field class="full-width">
                <mat-label>Name: </mat-label>
                <input
                  name="nameSearch"
                  [(ngModel)]="nameSearch"
                  matInput
                  class=""
                  placeholder="Insert a name"
                />
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button color="accent" type="submit">
            <mat-icon fontIcon="search"></mat-icon>
            Search
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>

<div fxLayout="row" fxLayoutAlign="center" class="mt-20">
  <div fxLayout="column" fxFlex="1000px">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title class="card-title"> Result </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <table mat-table [dataSource]="clientsList">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>User Id</th>
            <td mat-cell *matCellDef="let client">{{ client.id }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Client</th>
            <td mat-cell *matCellDef="let client">{{ client.name }}</td>
          </ng-container>

          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let client">{{ client.cpf }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let client">{{ client.email }}</td>
          </ng-container>

          <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef>BirthDate</th>
            <td mat-cell *matCellDef="let client">{{ client.birthDate }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let client">
              <button
                type="button"
                mat-icon-button
                color="primary"
                (click)="prepareEdit(client.id)"
              >
                <mat-icon fontIcon="edit"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
